In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from IHA import IHA
import pandas as pd

In [3]:
"""
NO ESBORRAR NILS
"""

""""
csv_file = 'channel_sd_day.csv'
#read first row of csv file
title = pd.read_csv(csv_file, nrows=1).columns.tolist()[0]

#get watershed name
watershed = title.split()[0]
watershed

#read csv ignore first and third row
df = pd.read_csv(csv_file, skiprows=[0,2], usecols = [1,2,3,47])    #use only month, day, year and flo_out
df

#remove spaces in column names
df.columns = df.columns.str.replace(' ', '')

#replace column title mon by month and yr by year
df = df.rename(columns={'mon':'month', 'yr':'year'})

#make a new column for date
df['date'] = pd.to_datetime(df[['month', 'day', 'year']])
df.head()
"""

'"\ncsv_file = \'channel_sd_day.csv\'\n#read first row of csv file\ntitle = pd.read_csv(csv_file, nrows=1).columns.tolist()[0]\n\n#get watershed name\nwatershed = title.split()[0]\nwatershed\n\n#read csv ignore first and third row\ndf = pd.read_csv(csv_file, skiprows=[0,2], usecols = [1,2,3,47])    #use only month, day, year and flo_out\ndf\n\n#remove spaces in column names\ndf.columns = df.columns.str.replace(\' \', \'\')\n\n#replace column title mon by month and yr by year\ndf = df.rename(columns={\'mon\':\'month\', \'yr\':\'year\'})\n\n#make a new column for date\ndf[\'date\'] = pd.to_datetime(df[[\'month\', \'day\', \'year\']])\ndf.head()\n'

In [4]:
a_47_df = pd.read_csv("Observations/a47.csv")
a_47_df['Date'] = pd.to_datetime(a_47_df['Date'])

a_47_df

           Date       Flow
0    2001-01-01  15.278000
1    2001-01-02  14.711000
2    2001-01-03  11.386000
3    2001-01-04   9.958000
4    2001-01-05   8.722000
...         ...        ...
7347 2021-02-12   6.065059
7348 2021-02-13   6.384958
7349 2021-02-14   5.848010
7350 2021-02-15   5.843729
7351 2021-02-16   5.800309

[7352 rows x 2 columns]

In [5]:
a_03_df = pd.read_csv("Observations/a03.csv")
#parse date column
a_03_df['Date'] = pd.to_datetime(a_03_df['Date'])
a_03_df

           Date      Flow
0    2001-01-01  9.150000
1    2001-01-02  8.866700
2    2001-01-03  8.542800
3    2001-01-04  8.327800
4    2001-01-05  8.382900
...         ...       ...
7347 2021-02-12  1.710101
7348 2021-02-13  1.797535
7349 2021-02-14  1.942434
7350 2021-02-15  1.969309
7351 2021-02-16  2.538378

[7352 rows x 2 columns]

In [6]:
a_03 = IHA(a_03_df, date_col = 'Date', flow_col = 'Flow')

In [7]:
a_47 = IHA(a_47_df, date_col = 'Date', flow_col = 'Flow')

In [8]:
a_47.annual_1_day_max_julian_day()

Date
2001     16
2002    128
2003    338
2004     91
2005    319
2006     30
2007    104
2008    146
2009     34
2010    283
2011     74
2012     82
2013     65
2014    334
2015    307
2016    159
2017     45
2018    288
2019    296
2020     23
2021     22
dtype: int64