In [132]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [133]:
from IHA import IHA
import pandas as pd
import pymannkendall as mk
import numpy as np

In [134]:

csv_file = 'C:\\Users\\ollorente\\Documents\\ICRA\\IHA\\DadesLaia\\channel_sdmorph_day.txt'
#read first row of csv file
#title = pd.read_csv(csv_file, sep=" ", nrows=1).columns.tolist()[0]

#get watershed name
#watershed = title.split()[0]
#watershed

#title

#read csv ignore first and third row
#df = pd.read_csv(csv_file, skiprows=[0,2], usecols = [1,2,3,47])    #use only month, day, year and flo_out
df = pd.read_csv(csv_file, delim_whitespace=True, skiprows=[0, 2], usecols = [1, 2, 3, 4, 9], index_col=False)    #use only month, day, year and flo_out

df

         mon  day    yr  unit  flo_out
0          1    1  2001     1    2.495
1          1    1  2001     2    6.184
2          1    1  2001     3    6.175
3          1    1  2001     4    2.493
4          1    1  2001     5    2.500
...      ...  ...   ...   ...      ...
1679310   12   31  2022   205    0.000
1679311   12   31  2022   206    0.000
1679312   12   31  2022   207    0.000
1679313   12   31  2022   208    0.000
1679314   12   31  2022   209    0.000

[1679315 rows x 5 columns]

In [135]:
#remove spaces in column names
df.columns = df.columns.str.replace(' ', '')

#replace column title mon by month and yr by year
df = df.rename(columns={'mon':'month', 'yr':'year'})

#make a new column for date
df['date'] = pd.to_datetime(df[['month', 'day', 'year']])
df = df.rename(columns={'date': 'Date'})
df = df.rename(columns={'flo_out': 'Flow'})

df_unit = df

df.head()

   month  day  year  unit   Flow       Date
0      1    1  2001     1  2.495 2001-01-01
1      1    1  2001     2  6.184 2001-01-01
2      1    1  2001     3  6.175 2001-01-01
3      1    1  2001     4  2.493 2001-01-01
4      1    1  2001     5  2.500 2001-01-01

In [136]:
#Select columns where their unit value is 209
df = df[df['unit'] == 204]

df

         month  day  year  unit      Flow       Date
203          1    1  2001   204  0.003970 2001-01-01
412          1    2  2001   204  0.003833 2001-01-02
621          1    3  2001   204  0.003799 2001-01-03
830          1    4  2001   204  0.003734 2001-01-04
1039         1    5  2001   204  0.003828 2001-01-05
...        ...  ...   ...   ...       ...        ...
1678473     12   27  2022   204  0.004727 2022-12-27
1678682     12   28  2022   204  0.004741 2022-12-28
1678891     12   29  2022   204  0.004718 2022-12-29
1679100     12   30  2022   204  0.004723 2022-12-30
1679309     12   31  2022   204  0.004744 2022-12-31

[8035 rows x 6 columns]

In [137]:
df_2001 = df[df['Date'].dt.year == 2001]
df_2001

       month  day  year  unit      Flow       Date
203        1    1  2001   204  0.003970 2001-01-01
412        1    2  2001   204  0.003833 2001-01-02
621        1    3  2001   204  0.003799 2001-01-03
830        1    4  2001   204  0.003734 2001-01-04
1039       1    5  2001   204  0.003828 2001-01-05
...      ...  ...   ...   ...       ...        ...
75443     12   27  2001   204  0.006097 2001-12-27
75652     12   28  2001   204  0.006209 2001-12-28
75861     12   29  2001   204  0.006038 2001-12-29
76070     12   30  2001   204  0.004316 2001-12-30
76279     12   31  2001   204  0.004348 2001-12-31

[365 rows x 6 columns]

In [138]:
#df = pd.read_csv("C:\\Users\\ollorente\\Documents\\ICRA\\IHA\\DadesLaia\\channel_sdmorph_day.csv")

In [139]:
a_47_df = pd.read_csv("Observations/a47.csv")
a_47_df['Date'] = pd.to_datetime(a_47_df['Date'])

a_47_df

           Date       Flow
0    2001-01-01  15.278000
1    2001-01-02  14.711000
2    2001-01-03  11.386000
3    2001-01-04   9.958000
4    2001-01-05   8.722000
...         ...        ...
7347 2021-02-12   6.065059
7348 2021-02-13   6.384958
7349 2021-02-14   5.848010
7350 2021-02-15   5.843729
7351 2021-02-16   5.800309

[7352 rows x 2 columns]

In [140]:
a_03_df = pd.read_csv("Observations/a03.csv")
#parse date column
a_03_df['Date'] = pd.to_datetime(a_03_df['Date'])
a_03_df

           Date      Flow
0    2001-01-01  9.150000
1    2001-01-02  8.866700
2    2001-01-03  8.542800
3    2001-01-04  8.327800
4    2001-01-05  8.382900
...         ...       ...
7347 2021-02-12  1.710101
7348 2021-02-13  1.797535
7349 2021-02-14  1.942434
7350 2021-02-15  1.969309
7351 2021-02-16  2.538378

[7352 rows x 2 columns]

In [141]:
a_03 = IHA(a_03_df, date_col = 'Date', flow_col = 'Flow')

In [142]:
a_47 = IHA(a_47_df, date_col = 'Date', flow_col = 'Flow')

In [143]:
data = IHA(df, date_col = 'Date', flow_col = 'Flow')

In [144]:
data.year_month_median()

,Year,January,February,March,April,May,June,July,August,September,October,November,December,Year Median,Year percentile 10,Year percentile 90
0,2001,0.004153,0.003560,0.004478,0.005534,0.005114,0.003676,0.002792,0.002676,0.003197,0.004848,0.005681,0.006071,0.004401,0.002727,0.008441
1,2002,0.005635,0.005918,0.006510,0.009699,0.028190,0.006595,0.006372,0.005102,0.005403,0.007633,0.008429,0.009679,0.007569,0.005166,0.177700
2,2003,0.009799,0.007984,0.009020,0.011800,0.010200,0.004490,0.003034,0.002477,0.003637,0.005842,0.007668,0.014510,0.008099,0.002875,0.113200
3,2004,0.014410,0.014030,0.011730,0.010205,0.009718,0.008661,0.004258,0.003167,0.003387,0.003787,0.003859,0.004662,0.007116,0.003297,0.044780
4,2005,0.004635,0.005142,0.005018,0.003452,0.003232,0.002530,0.002378,0.002621,0.003607,0.005238,0.006280,0.006653,0.004544,0.002365,0.021264
5,2006,0.006608,0.006500,0.006676,0.005125,0.003465,0.003085,0.002051,0.002327,0.002796,0.003213,0.003655,0.003634,0.003612,0.002319,0.006836
6,2007,0.003653,0.003536,0.003166,0.003544,0.002773,0.002788,0.002574,0.002727,0.002981,0.003328,0.003627,0.003635,0.003230,0.002511,0.007537
7,2008,0.003715,0.003604,0.003366,0.003112,0.003241,0.003190,0.002721,0.002769,0.003824,0.005044,0.005943,0.004713,0.003662,0.002744,0.037025
8,2009,0.004881,0.004984,0.005362,0.005007,0.004435,0.002874,0.002652,0.002403,0.002836,0.003169,0.004103,0.004344,0.004144,0.002435,0.022570
9,2010,0.004395,0.004863,0.005440,0.005012,0.004372,0.004263,0.002874,0.002979,0.003851,0.005203,0.006092,0.006125,0.004797,0.002901,0.063576
10,2011,0.005340,0.005616,0.008048,0.007606,0.004713,0.005399,0.005204,0.003961,0.003518,0.004140,0.050200,0.010200,0.005603,0.003528,0.077018
11,2012,0.009129,0.008013,0.005172,0.005687,0.005236,0.004549,0.003533,0.002711,0.003188,0.005640,0.006742,0.006340,0.005612,0.002912,0.033615
12,2013,0.011570,0.009077,0.008246,0.006770,0.006876,0.005661,0.003890,0.002629,0.003335,0.003594,0.004491,0.005513,0.005661,0.002910,0.042094
13,2014,0.005663,0.005063,0.004054,0.004020,0.003031,0.003342,0.003545,0.003798,0.004379,0.006051,0.006521,0.007997,0.004761,0.003181,0.056738
14,2015,0.006621,0.006238,0.006022,0.005959,0.003764,0.003911,0.002756,0.003435,0.004334,0.005008,0.004686,0.005256,0.005076,0.002770,0.007847
15,2016,0.005103,0.004496,0.003951,0.004259,0.004189,0.003957,0.002715,0.002587,0.003129,0.006063,0.006531,0.007206,0.004195,0.002625,0.036015
16,2017,0.007355,0.008976,0.008295,0.005773,0.005865,0.003755,0.003034,0.002414,0.003390,0.004018,0.004898,0.005176,0.005176,0.002689,0.016074
17,2018,0.004753,0.005183,0.005439,0.005782,0.006857,0.004023,0.004257,0.003179,0.003767,0.009956,0.101495,0.011850,0.005550,0.003396,0.147220
18,2019,0.009128,0.006356,0.005287,0.005622,0.003929,0.003992,0.002819,0.002754,0.003644,0.003759,0.004585,0.006539,0.004817,0.002784,0.009786
19,2020,0.007105,0.009404,0.008437,0.009146,0.006788,0.006576,0.003795,0.003611,0.003811,0.004393,0.004492,0.006322,0.006436,0.003568,0.086275
20,2021,0.006709,0.006414,0.004886,0.004419,0.004299,0.002965,0.002185,0.002206,0.003399,0.004353,0.005888,0.006179,0.004561,0.002212,0.015172
21,2022,0.005539,0.004534,0.005974,0.006723,0.006238,0.003637,0.002433,0.002483,0.003322,0.004285,0.004329,0.004718,0.004457,0.002455,0.012744

In [145]:
df_unit

         month  day  year  unit   Flow       Date
0            1    1  2001     1  2.495 2001-01-01
1            1    1  2001     2  6.184 2001-01-01
2            1    1  2001     3  6.175 2001-01-01
3            1    1  2001     4  2.493 2001-01-01
4            1    1  2001     5  2.500 2001-01-01
...        ...  ...   ...   ...    ...        ...
1679310     12   31  2022   205  0.000 2022-12-31
1679311     12   31  2022   206  0.000 2022-12-31
1679312     12   31  2022   207  0.000 2022-12-31
1679313     12   31  2022   208  0.000 2022-12-31
1679314     12   31  2022   209  0.000 2022-12-31

[1679315 rows x 6 columns]

In [179]:
data.perccntage_dry_river_network(df_unit)

,year,January,February,March,April,May,June,July,August,September,October,November,December,Year
0,2001,7.084427,8.390294,26.809693,63.444976,29.093996,60.956938,45.948449,46.673869,39.728868,25.760148,20.622010,24.648866,33.326342
1,2002,32.319802,37.816131,20.867418,7.575758,5.155117,11.722488,43.031332,21.484797,23.125997,19.432011,16.858054,9.260688,20.644950
2,2003,10.989350,32.621326,6.960951,15.964912,43.324587,67.846890,68.637135,44.358697,22.296651,8.550702,7.862839,5.047075,27.825916
3,2004,29.541596,37.881538,6.837475,4.066986,8.257447,29.202552,63.852446,49.189690,32.822967,50.362710,37.304625,13.782991,30.265119
4,2005,46.565828,26.674641,46.581263,62.408293,42.120698,48.516746,67.371508,49.127952,19.090909,8.164840,5.502392,20.064825,36.965327
5,2006,15.635129,6.630212,25.142769,64.960128,69.732983,73.716108,68.976694,46.504090,27.910686,12.702578,43.397129,49.421207,42.237661
6,2007,68.019756,55.006835,58.805371,15.454545,21.515666,54.688995,71.507949,45.794104,57.081340,33.168699,59.409888,64.130267,50.384741
7,2008,40.824201,28.576143,43.478932,25.071770,17.502701,10.143541,32.921747,62.910943,60.318979,50.347276,11.642743,12.517364,33.113708
8,2009,7.717240,8.185236,25.019293,9.904306,26.470134,62.966507,64.824819,71.214694,46.427432,29.680506,22.472089,47.121469,35.385725
9,2010,10.726964,7.262474,10.510881,32.759171,9.229819,20.079745,53.603951,51.319648,41.419458,12.455626,27.256778,44.790863,26.905683
10,2011,39.342491,32.091593,18.258991,10.781499,24.756907,17.272727,33.523692,52.554407,68.277512,53.017441,5.183413,11.081957,30.555155
11,2012,45.624325,60.303580,44.698256,18.341308,25.297114,47.878788,71.122087,67.849977,61.020734,15.202963,10.653907,33.292175,41.752294
12,2013,50.733138,59.928230,10.757833,14.976077,17.363791,43.460925,67.757370,63.281371,27.480064,36.950147,40.622010,24.247569,38.021892
13,2014,37.042754,30.228982,64.546998,26.586922,42.722642,23.221691,42.290477,51.813551,21.148325,16.298812,19.920255,6.019447,31.932883
14,2015,21.747183,51.930964,38.154036,34.577352,57.570613,60.622010,63.358543,48.973607,55.948963,43.602408,20.462520,56.181509,46.081143
15,2016,74.270721,46.906451,24.787776,18.516746,24.263004,54.226475,71.646859,72.650100,58.357257,22.410866,21.244019,11.977157,41.783669
16,2017,23.892576,11.859193,16.314246,19.681021,45.114987,60.685805,73.344652,71.585121,32.807018,26.161445,24.928230,68.884087,39.888576
17,2018,30.251582,8.612440,13.875598,10.494418,11.791943,25.199362,58.280599,52.554407,35.454545,20.481556,2.551834,7.300509,23.240480
18,2019,47.646242,67.857143,71.044914,35.917065,31.331996,49.282297,55.857385,63.651798,28.532695,29.371817,11.355662,7.393116,41.500950
19,2020,9.353295,5.939614,14.585584,8.277512,5.865103,10.574163,29.109430,58.867109,36.331738,42.074394,26.666667,7.593764,21.362460
20,2021,21.284149,43.369788,50.949221,60.909091,44.296959,67.240829,72.572928,67.942584,40.909091,34.388023,28.580542,22.488038,46.233204
21,2022,52.400062,55.758715,24.849514,14.673046,37.937953,60.478469,73.344652,50.563359,46.602871,47.522766,52.791069,29.448989,45.467654

In [147]:
data.annual_1_day_minima()

Date
2001    0.002079
2002    0.003394
2003    0.001732
2004    0.002421
2005    0.001953
2006    0.001667
2007    0.001853
2008    0.002015
2009    0.002078
2010    0.001973
2011    0.002426
2012    0.001946
2013    0.001884
2014    0.002540
2015    0.001944
2016    0.001875
2017    0.001866
2018    0.002080
2019    0.001860
2020    0.002284
2021    0.001788
2022    0.001691
Name: Flow, dtype: float64

In [148]:
data.annual_1_day_maxima()

Date
2001     1.7090
2002     4.4850
2003     2.2560
2004     2.6480
2005     2.3070
2006     1.1260
2007     0.7234
2008     1.2510
2009     0.9796
2010     1.9050
2011     6.4610
2012     0.7764
2013     2.7610
2014     2.6550
2015     1.0990
2016     2.2880
2017     1.2530
2018    10.3300
2019     1.6750
2020     5.2200
2021     3.2300
2022     1.8880
Name: Flow, dtype: float64

In [149]:
data.annual_7_day_minima()

Date
2001    0.002502
2002    0.003942
2003    0.002101
2004    0.002566
2005    0.002140
2006    0.001939
2007    0.002152
2008    0.002301
2009    0.002227
2010    0.002293
2011    0.002782
2012    0.002220
2013    0.002107
2014    0.002828
2015    0.002336
2016    0.002296
2017    0.002118
2018    0.002443
2019    0.002155
2020    0.002647
2021    0.002005
2022    0.002111
Name: Flow, dtype: float64

In [150]:
data.annual_7_day_maxima()

Date
2001    0.276187
2002    1.258583
2003    0.599284
2004    0.412851
2005    0.599735
2006    0.429574
2007    0.135322
2008    0.190148
2009    0.205926
2010    0.335437
2011    2.148103
2012    0.172913
2013    0.486563
2014    0.387181
2015    0.343677
2016    0.461134
2017    0.252851
2018    3.589643
2019    0.377840
2020    1.246161
2021    0.521263
2022    0.277567
Name: Flow, dtype: float64

In [151]:
data.annual_90_day_minima()

Date
2001    0.009846
2002    0.031239
2003    0.007703
2004    0.012468
2005    0.007449
2006    0.002848
2007    0.011328
2008    0.008940
2009    0.003213
2010    0.010977
2011    0.021314
2012    0.005910
2013    0.004850
2014    0.010720
2015    0.007742
2016    0.004871
2017    0.004183
2018    0.017153
2019    0.008988
2020    0.018616
2021    0.005591
2022    0.010155
Name: Flow, dtype: float64

In [152]:
data.annual_90_day_maxima()

Date
2001    0.053905
2002    0.224133
2003    0.118415
2004    0.108677
2005    0.123054
2006    0.051990
2007    0.031568
2008    0.048462
2009    0.048776
2010    0.078667
2011    0.323342
2012    0.043585
2013    0.065179
2014    0.078563
2015    0.048475
2016    0.059450
2017    0.056486
2018    0.405798
2019    0.072657
2020    0.138640
2021    0.088316
2022    0.054927
Name: Flow, dtype: float64

In [153]:
data.zero_flow_days()

Date
2001    0
2002    0
2003    0
2004    0
2005    0
2006    0
2007    0
2008    0
2009    0
2010    0
2011    0
2012    0
2013    0
2014    0
2015    0
2016    0
2017    0
2018    0
2019    0
2020    0
2021    0
2022    0
Name: Flow, dtype: int64

In [154]:
data.annual_1_day_min_julian_day()

Date
2001    239
2002    224
2003    225
2004    225
2005    197
2006    203
2007    196
2008    187
2009    192
2010    186
2011    197
2012    220
2013    213
2014    172
2015    224
2016    192
2017    215
2018    206
2019    180
2020    235
2021    214
2022    220
dtype: int32

In [155]:
data.annual_1_day_max_julian_day()

Date
2001    265
2002    282
2003      6
2004    107
2005    286
2006     28
2007     93
2008    269
2009     90
2010    260
2011    325
2012    305
2013      2
2014    271
2015    226
2016    286
2017    292
2018    319
2019    338
2020    112
2021    259
2022     71
dtype: int32

In [156]:
data.high_pulses_per_year()

Date
2001    22
2002    30
2003    25
2004    26
2005    18
2006    10
2007    20
2008    29
2009    23
2010    31
2011    20
2012    24
2013    25
2014    32
2015    18
2016    27
2017    20
2018    36
2019    25
2020    26
2021    21
2022    21
Name: High_pulses, dtype: int64

In [157]:
data.low_pulses_per_year()

Date
2001    11
2002     0
2003     5
2004     2
2005    11
2006    13
2007    18
2008    11
2009    11
2010     7
2011     2
2012     7
2013     7
2014     4
2015     8
2016    11
2017     9
2018     2
2019     7
2020     1
2021    11
2022    11
Name: Low_pulses, dtype: int64

In [158]:
data.mean_duration_high_pulses()

Date
2001    1.363636
2002    2.066667
2003    2.040000
2004    1.423077
2005    1.722222
2006    1.800000
2007    1.150000
2008    1.275862
2009    1.304348
2010    1.322581
2011    2.050000
2012    1.375000
2013    1.480000
2014    1.312500
2015    1.444444
2016    1.296296
2017    1.550000
2018    1.861111
2019    1.280000
2020    1.730769
2021    1.285714
2022    1.333333
dtype: float64

In [159]:
data.mean_duration_low_pulses()

Date
2001    3.363636
2002         NaN
2003    5.800000
2004    5.500000
2005    6.727273
2006    6.076923
2007    4.222222
2008    3.272727
2009    6.181818
2010    4.142857
2011    2.000000
2012    3.857143
2013    4.428571
2014    2.000000
2015    4.375000
2016    4.090909
2017    4.333333
2018    4.000000
2019    4.571429
2020    5.000000
2021    6.272727
2022    5.454545
dtype: float64

In [160]:
data.mean_of_pos_inc_cons_flows()

Date
2001    0.042923
2002    0.159365
2003    0.081098
2004    0.063255
2005    0.056934
2006    0.017063
2007    0.025883
2008    0.050426
2009    0.029050
2010    0.068275
2011    0.167519
2012    0.030530
2013    0.044003
2014    0.064493
2015    0.028396
2016    0.041390
2017    0.033861
2018    0.187743
2019    0.040884
2020    0.096390
2021    0.048636
2022    0.040393
Name: Flow, dtype: float64

In [161]:
data.median_of_pos_inc_cons_flows()

Date
2001    0.000137
2002    0.000214
2003    0.000205
2004    0.000128
2005    0.000111
2006    0.000099
2007    0.000101
2008    0.000362
2009    0.000145
2010    0.000197
2011    0.000102
2012    0.000280
2013    0.000218
2014    0.000141
2015    0.000090
2016    0.000116
2017    0.000133
2018    0.000205
2019    0.000120
2020    0.000149
2021    0.000121
2022    0.000105
Name: Flow, dtype: float64

In [162]:
data.mean_of_neg_inc_cons_flows()

Date
2001   -0.043637
2002   -0.131351
2003   -0.076710
2004   -0.062271
2005   -0.059818
2006   -0.019076
2007   -0.027354
2008   -0.042960
2009   -0.032789
2010   -0.070545
2011   -0.156744
2012   -0.029428
2013   -0.042360
2014   -0.067379
2015   -0.029204
2016   -0.048276
2017   -0.032778
2018   -0.155642
2019   -0.046707
2020   -0.092744
2021   -0.052529
2022   -0.048236
Name: Flow, dtype: float64

In [163]:
data.median_of_neg_inc_cons_flows()

Date
2001   -0.000139
2002   -0.000386
2003   -0.000396
2004   -0.000165
2005   -0.000105
2006   -0.000106
2007   -0.000109
2008   -0.000272
2009   -0.000176
2010   -0.000156
2011   -0.000189
2012   -0.000424
2013   -0.000353
2014   -0.000194
2015   -0.000082
2016   -0.000171
2017   -0.000149
2018   -0.000527
2019   -0.000124
2020   -0.000147
2021   -0.000104
2022   -0.000176
Name: Flow, dtype: float64

In [164]:
data.num_flow_reversals()

Date
2001    213
2002    179
2003    190
2004    205
2005    197
2006    214
2007    202
2008    216
2009    232
2010    210
2011    171
2012    205
2013    201
2014    193
2015    216
2016    217
2017    195
2018    196
2019    198
2020    195
2021    228
2022    200
Name: Flow, dtype: int64

In [165]:
a_47.annual_1_day_minima()

Date
2001    2.301000
2002    3.328000
2003    3.760800
2004    1.870100
2005    1.375400
2006    1.921500
2007    0.980000
2008    0.962300
2009    1.267100
2010    2.305100
2011    2.532979
2012    1.704910
2013    2.680628
2014    3.652979
2015    3.478039
2016    2.275000
2017    1.768382
2018    1.940600
2019    0.693500
2020    4.205772
2021    4.420156
Name: Flow, dtype: float64

In [166]:
a_47.annual_1_day_min_julian_day()

Date
2001    359
2002    209
2003      3
2004    319
2005     67
2006    365
2007    217
2008     32
2009    287
2010     28
2011    290
2012    237
2013     16
2014      3
2015    353
2016    284
2017    241
2018      1
2019    320
2020    240
2021     20
dtype: int32

In [167]:
a_47.num_flow_reversals()

Date
2001    165
2002    157
2003    124
2004    151
2005    135
2006    126
2007    149
2008    149
2009    136
2010    122
2011    115
2012    153
2013    118
2014    117
2015    113
2016    120
2017    136
2018    123
2019    154
2020     86
2021     20
Name: Flow, dtype: int64

In [168]:
data.freq_zero_flow_periods()

Date
2001    0
2002    0
2003    0
2004    0
2005    0
2006    0
2007    0
2008    0
2009    0
2010    0
2011    0
2012    0
2013    0
2014    0
2015    0
2016    0
2017    0
2018    0
2019    0
2020    0
2021    0
2022    0
Name: zero_flow_periods, dtype: int64

In [169]:
data.mean_zero_flow_periods()

ZeroDivisionError: division by zero

In [ ]:
data.zero_flow_onset()

Series([], Name: mean_duration_zero_flow_periods, dtype: float64)

In [ ]:
data.zero_flow_central_point()

Series([], Name: Flow, dtype: float64)

In [ ]:
mk.original_test(a_03_df.Flow)

Mann_Kendall_Test(trend='increasing', h=True, p=0.0, z=16.643178431986584, Tau=0.130829342685555, s=3386859.0, var_s=41411545447.666664, slope=0.00023315714692937264, intercept=3.8585232367242437)

In [ ]:
x = np.random.rand(1000,5)  # here consider 5 station/location where every station have 1000 data
mk.regional_test(x,0.05)

Regional_Mann_Kendall_Test(trend='no trend', h=False, p=0.6421548739059582, z=0.46468804070545644, Tau=0.004389189189189189, s=10962.0, var_s=556387500.0, slope=6.607180377792765e-06, intercept=0.4846558107753)